
h1,.title-1,.title-2,.title-3{
	text-align: center;
}
.chicken{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin-left: 1px;

}
.sushi{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin: 1px;
}
.beef{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin: 1px;
}
.row{
	margin-left:20px;
}