
h1,.title-1,.title-2,.title-3{
	text-align: center;
}
.chicken{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin: 5px;
}
.sushi{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin: 5px;

}
.beef{
	box-sizing: border-box;
	background-color:#D6EAF8 ;
	border: 1px solid;
	padding: 10px;
	margin: 5px;
}
@media(min-width: 992px){
	ul .navbar-right{
		margin: 200px;
	}

#title{
	color: green;
}